<html>

<head>
    <title>D&D - Index of {{ page.url }}</title>
    <style>
        .file:before {
            content: "📄";
            padding-right: 5px;
        }

        .directory:before {
            content: "📂";
            padding-right: 5px;
        }

        .back:before {
            content: "↩️";
            padding-right: 5px;
        }
    </style>
</head>

<body>
    <h1>Index of {{ page.url }}</h1>
    <hl />
    <table>
        <tr class="back">
            <td colspan=2><a href="..">Up one level</a></td>
        </tr>
        {%- for item in pagedata[0].contents %}
        <tr class="{{ item.type }}">
            <td><a href="{{ item.name }}">{{ item.name }}</a></td>
            <td>{{ item.size }}</td>
        </tr>
        {%- endfor %}
    </ul>
</body>

</html>